body {
    background-image: url('https://mdn.mozillademos.org/files/7693/catfront.png');
    font-family: Helvetica, sans-serif;
    margin: 1%;
    border: solid black 4px;
}

h1 {
    margin: .6%;
}

nav ul {
    list-style: none;
}


nav li {
    display: inline;
    border: solid black 2px;
    border-radius: 100%;
    padding: 10px;
}

a {
    color: black;
}

section p {
    color: black;
    text-align: left;
    font-size: small;
}

section {
    border: solid black 2px;
    border-left: none;
    border-right: none;
    padding: .6%;
}
