body {
    font-family: Helvetica, sans-serif;
    margin: 1%;
    border: solid  black 2px;
    border-radius: .5%;
    display: inline-block;
}

h1 {
    font-size: 72pt;
    color: rgb(224, 129, 230);
    text-decoration: underline;
    padding: 1%;
    margin: .6%;
}

h1:hover, nav li:hover, a:hover{
    color: seagreen;
    border-color: seagreen;
}

#username {
    margin: .6%;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 1%;
}


nav li {
    display: inline;
    border: solid  black 2px;
    border-radius: 100%;
    padding: 10px;
    margin: 10%;
}

a {
    text-decoration: none;
    color:  black;
}

section p {
    color:  black;
    text-align: left;
    font-size: small;
}

section {
    border: solid  black 2px;
    border-left: none;
    border-right: none;
    padding: .6%;
}
